<?xml version="1.0"?>
<configuration>

    
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Forms">
      <forms loginUrl="~\Home\Login">

      </forms>
    </authentication>
    <authorization>
      <allow roles="editor;user;admin" />
      <allow users="?" />
    </authorization>
      <customErrors mode="Off"/>

  </system.web>


<connectionStrings>
  <add name="PiedPiperINEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHAREPOINT;initial catalog=PiedPiperIN;persist security info=True;user id=sa;password=B@cstech135;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="PiedPiperINEntities" connectionString="Data Source=ppi123.database.windows.net;Initial Catalog=PiedPiperIN;Persist Security Info=True;User ID=adminFahad;Password=Yahoo123@;Application Name=EntityFramework" providerName="System.Data.EntityClient" />-->
  <!--<add name="PiedPiperINEntities" connectionString="tcp:piedpipertushardbserver.database.windows.net,1433" providerName="System.Data.EntityClient" />-->

</connectionStrings></configuration>
